<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="main">
      <form action="">
        <h5>Forgot Password</h5>
        <section class="content">
          <div class="email">
            <input type="email" placeholder="email">
          </div>
          <div class="signup">
            <button type="submit">Send Mail</button>
          </div>
          <div class="signin">
            <span>Go back to <a routerLink="/">Sign in</a></span>
          </div>
        </section>
      </form>
  </main>
</body>
</html>

